@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Geist:wght@100..900&display=swap");

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --font-iceland: "Iceland", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.skytrain-background {
  background-image: url("/background/skytrain-rain-droplets.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* TODO necessary? */
.markdown > * {
  all: revert;
}

.markdown-content img {
  max-height: 60vh;
}

.markdown-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.markdown-content img {
  border-width: 5px;
  border-color: white;
}
