@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Geist:wght@100..900&display=swap");

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --font-iceland: "Iceland", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/background/skytrain-rain-droplets.jpg");
  background-size: cover;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
